html,body{ 
    margin: 0;
    height: 100%;
    background: #000;
    overflow: hidden;
    color: white;
}
div, section {
    width: 100%;
    height: 100%;
}
.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
button[role=BUTTON_SELECT], button[role=BUTTON_START] {
    top: 5%;
    position: absolute;
    width: 4rem;
    height: 1rem;
    border-radius: 1rem;
    background: black;
    color: silver;
    font-size: 10px;
    outline: none;
}
button[role=BUTTON_SELECT] {
    left: 5%;
    box-shadow: 5px 2px 15px 5px rgba(113,113,113,0.7);
}
button[role=BUTTON_START] {
    right: 5%;
    box-shadow: -5px 2px 15px 5px rgba(113,113,113,0.7);
}
.arrow-buttons {
    width: 100%;
    background: rgba(255, 255, 255, .5);
}
.action-buttons {
    background: rgba(255, 255, 255, .5);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.action-buttons > * {
    background-color: gainsboro;
    border: 1px solid salmon;
}


@media screen and (orientation: portrait) {
/*竖屏 css*/
    .main {
        /* align-items: start; */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    canvas {
        order: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .arrow-buttons {
        order: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .action-buttons {
        grid-column-start: 2;
        grid-column-end: 3;
        order: 3;
    }
} 
@media screen and (orientation: landscape) {
/*横屏 css*/
}